# Virtual environments
.venv/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/

# Editor config
.vscode/
.idea/

# pytest
.pytest_cache/

# coverage
.coverage
coverage.xml
htmlcov/

# type checker / linter caches
.mypy_cache/
.ruff_cache/

# tox
.tox/

# logs
*.log

# OS files
.DS_Store
thumbs.db

#sciptes
.scripts/
